include layout/utils
include ui/review-card/review-card

-
  var reviews = [
    {
      text: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p> <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа</p>'
    },
    {
      text: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p>'
    },
    {
      text: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей.</p>'
    },
  ]

+section.reviews
  h2.reviews__title.section-title Отзывы
  .swiper.reviews__swiper
    ul.reviews__list.swiper-wrapper
      each review in reviews
        li.swiper-slide: +review-card(review)
    .swiper-scrollbar