@use "styles/utils";

.review-card {
  padding: 30px;
  min-height: 385px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 20px;

  &__title-wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font: 700 2.4rem/1.4 var(--nunito);
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;

    &:after {
      content: '';
      @include utils.square(24px);
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5599 8.74006L18.1999 7.16006C17.9399 6.86006 17.7299 6.30006 17.7299 5.90006V4.20006C17.7299 3.14006 16.8599 2.27006 15.7999 2.27006H14.0999C13.7099 2.27006 13.1399 2.06006 12.8399 1.80006L11.2599 0.440059C10.5699 -0.149941 9.43988 -0.149941 8.73988 0.440059L7.16988 1.81006C6.86988 2.06006 6.29988 2.27006 5.90988 2.27006H4.17988C3.11988 2.27006 2.24988 3.14006 2.24988 4.20006V5.91006C2.24988 6.30006 2.03988 6.86006 1.78988 7.16006L0.439883 8.75006C-0.140117 9.44006 -0.140117 10.5601 0.439883 11.2501L1.78988 12.8401C2.03988 13.1401 2.24988 13.7001 2.24988 14.0901V15.8001C2.24988 16.8601 3.11988 17.7301 4.17988 17.7301H5.90988C6.29988 17.7301 6.86988 17.9401 7.16988 18.2001L8.74988 19.5601C9.43988 20.1501 10.5699 20.1501 11.2699 19.5601L12.8499 18.2001C13.1499 17.9401 13.7099 17.7301 14.1099 17.7301H15.8099C16.8699 17.7301 17.7399 16.8601 17.7399 15.8001V14.1001C17.7399 13.7101 17.9499 13.1401 18.2099 12.8401L19.5699 11.2601C20.1499 10.5701 20.1499 9.43006 19.5599 8.74006ZM14.6799 10.0001L13.5099 13.5601C13.3599 14.1501 12.7299 14.6301 12.0899 14.6301H10.2399C9.91988 14.6301 9.46988 14.5201 9.26988 14.3201L7.79988 13.1701C7.76988 13.8101 7.47988 14.0801 6.76988 14.0801H6.28988C5.54988 14.0801 5.24988 13.7901 5.24988 13.0901V8.31006C5.24988 7.61006 5.54988 7.32006 6.28988 7.32006H6.77988C7.51988 7.32006 7.81988 7.61006 7.81988 8.31006V8.67006L9.75988 5.79006C9.95988 5.48006 10.4699 5.26006 10.8999 5.43006C11.3699 5.59006 11.6699 6.11006 11.5699 6.57006L11.3299 8.13006C11.3099 8.27006 11.3399 8.40006 11.4299 8.50006C11.5099 8.59006 11.6299 8.65006 11.7599 8.65006H13.7099C14.0899 8.65006 14.4099 8.80006 14.5999 9.07006C14.7699 9.33006 14.7999 9.66006 14.6799 10.0001Z' fill='%23DD7F34'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 8;
    color: var(--black_80);
    font-size: 1.8rem;
    line-height: 1.4;
  }

  &__text:has(+ &__read-more) {
    margin-bottom: 30px;
  }

  &__read-more {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.8rem;
    line-height: 1.4;

    &::after {
      content: '';
      @include utils.square(24px);
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0555 10.0555C10.5712 9.53973 11.2707 9.25 12 9.25C12.7293 9.25 13.4288 9.53973 13.9445 10.0555C14.4603 10.5712 14.75 11.2707 14.75 12C14.75 12.7293 14.4603 13.4288 13.9445 13.9445C13.4288 14.4603 12.7293 14.75 12 14.75C11.2707 14.75 10.5712 14.4603 10.0555 13.9445C9.53973 13.4288 9.25 12.7293 9.25 12C9.25 11.2707 9.53973 10.5712 10.0555 10.0555ZM12 10.75C11.6685 10.75 11.3505 10.8817 11.1161 11.1161C10.8817 11.3505 10.75 11.6685 10.75 12C10.75 12.3315 10.8817 12.6495 11.1161 12.8839C11.3505 13.1183 11.6685 13.25 12 13.25C12.3315 13.25 12.6495 13.1183 12.8839 12.8839C13.1183 12.6495 13.25 12.3315 13.25 12C13.25 11.6685 13.1183 11.3505 12.8839 11.1161C12.6495 10.8817 12.3315 10.75 12 10.75Z' fill='%233A3D3E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8806 12C6.14365 15.584 8.85254 17.25 12 17.25C15.1475 17.25 17.8564 15.584 20.1194 12C17.8564 8.41604 15.1475 6.75 12 6.75C8.85254 6.75 6.14365 8.41604 3.8806 12ZM2.35688 11.6141C4.84664 7.46452 8.05833 5.25 12 5.25C15.9417 5.25 19.1534 7.46452 21.6431 11.6141C21.7856 11.8516 21.7856 12.1484 21.6431 12.3859C19.1534 16.5355 15.9417 18.75 12 18.75C8.05833 18.75 4.84664 16.5355 2.35688 12.3859C2.21437 12.1484 2.21437 11.8516 2.35688 11.6141Z' fill='%233A3D3E'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: .5;
      @include utils.transition(opacity);
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: utils.$tablet800) {
  .review-card {
    padding: 20px;
    min-height: 347px;
    border-radius: 10px;

    &__title {
      font-size: 2rem;
    }

    &__rating {
      font-size: 1.6rem;
    }

    &__text {
      font-size: 1.6rem;
    }

    &__read-more {
      font-size: 1.6rem;
    }
  }
}