extends layout/page
include layout/utils

append head

append main       
    include global/components/pageBlocks/bannerBlock/template
    +banner(['Главная', 'О компании'], 'О компании', 'Проведение творческих встреч с людьми из разных сфер деятельности: мастер-классы, семинары, презентации продуктов и услуг с представителями самых разных современных профессий.')
    include global/components/pageBlocks/contentBlock/template
    include global/components/pageBlocks/directorBlock/template
    include global/components/pageBlocks/reasonsBlock/template
    include global/components/pageBlocks/mastersBlock/template
    include global/components/pageBlocks/galleryBlock/template

append before-footer
    include components/pageBlocks/map-block/map-block