@use 'styles/utils';
@use 'ui/buttons/close-btn';


.popup {
  padding: 15px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  transition: opacity, visibility;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  opacity: 0;
  background-color: hsla(140, 100%, 2%, 0.8);

  .form-section__title, .form-section__subtitle, .form-section__privacy {
    text-align: left;
  }

  .btn.submit {
    width: 100%;
    justify-content: center;
  }

  &.opened {
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    margin: auto;
    position: relative;
  }

  .close-btn {
    z-index: 30;
    top: 0px;
    right: -60px;
    background-color: #FFFFFF40;
    border-radius: 50%;
  }

  &-body {
    display: flex;
    width: 1106px;
  }

  &-form {
    width: calc(1106px - 543px);
    background-color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 50px;
  }

  &-image {
    background-image: url('src/assets/media/content/gallery_item.png');
    background-position: center;
    background-size: cover;
    width: 543px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .review-body-popup {
    background-color: white;
    width: 1106px;
    border-radius: 40px;
    padding: 50px 421px 62px 50px;
    font-size: 18px;

    .review-title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .popup {
    width: 100vw;
  }
}

@media only screen and (max-width: 450px) {
  .popup {
    .close-btn {
      top: 5px;
      right: 5px;
    }
  }
}