@use 'styles/utils';
@use 'ui/buttons/close-btn';


.popup {
  padding: 15px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  transition: opacity, visibility;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  opacity: 0;
  background-color: hsla(140, 100%, 2%, 0.8);

  .form-section__title, .form-section__subtitle, .form-section__privacy {
    text-align: left;
  }

  .btn.submit {
    width: 100%;
    justify-content: center;
  }

  &.opened {
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    margin: auto;
    position: relative;
  }

  .close-btn {
    z-index: 30;
    top: 0;
    right: -60px;
    background-color: #FFFFFF40;
    border-radius: 50%;
  }

  &-body {
    display: flex;
    max-width: 1106px;
    width: 100%;
  }

  &-form {
    width: 100%;
    background-color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 50px;
  }

  &-image {
    background-image: url('media/content/gallery_item.png?as=webp');
    background-position: center;
    background-size: cover;
    max-width: 543px;
    width: 100%;
    flex-shrink: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .review-popup__inner {
    max-width: 1106px;
    width: 100%;
  }

  .review-body-popup {
    padding: 50px 50px 62px;
    max-height: 646px;
    border-radius: 40px;
    background-color: white;
    font-size: 1.8rem;
    overflow-y: auto;

    .review-title {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  &.review-popup .close-btn {
    background-color: var(--black_60);
  }
}

@media only screen and (max-width: 1400px) {
  .call-popup {
    .form-section__title {
      font-size: 2.8rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .popup {
    width: 100vw;

    .review-body-popup {
      padding: 20px 20px 35px;
      border-radius: 25px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .popup {
    padding: 0;
  }

  .popup-body {
    flex-direction: column-reverse;
  }

  .popup-form {
    padding: 20px 10px;
    border-radius: 0;
  }

  .popup-image {
    height: 280px;
    max-width: initial;
    border-radius: 0;
    background-position: top -50px center;
    background-repeat: no-repeat;
  }

  .review-popup__inner {
    padding: 10px;
  }

  .review-popup .close-btn {
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;

    &::before,
    &::after {
      height: 15px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .popup:not(.review-popup) {
    .close-btn {
      top: 10px;
      right: 10px;
      width: 62px;
      height: 62px;
    }
  }
}