extends layout/page
include layout/utils

append head
    link(href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet')

append main       
    .section.contacts
        ul.breadcrumbs
            li Главная
            li Контакты
        h1.contacts-title Контакты 
        .contacts-block 
            .contact(data-lng="49.137864" data-lat="55.787923" data-address="mushtari")
                .contact-top 
                    +img('/assets/media/static/besedka-en-logo_color.png').logo-en
                    .icon
                        +img('/assets/media/static/location.svg')
                .contact-body 
                    .address г. Казань, ул. Муштари 2а
                    .work-hours Пн-Пт с 8 до 20:00
                    .tel-mail 
                        .tel 8 (976) 543 21 00
                        +img('/assets/media/static/point_black.svg')
                        .mail info_c@mail.ru
                    .socials 
                        .social
                            +img('/assets/media/static/tg_black.svg')
                        .social
                            +img('/assets/media/static/insta_black.svg')
                        .social 
                            +img('/assets/media/static/vk_black.svg')
                .contact-bottom 
                    .btn.show-map Показать на карте
                    a(href="#") Реквизиты компании
            .contact(data-lng="49.109145" data-lat="55.819778" data-address="absalyamova")
                .contact-top 
                    +img('/assets/media/static/besedka-ru-logo_color.png').logo-ru
                    .icon
                        +img('/assets/media/static/location.svg')
                .contact-body 
                    .address г. Казань, ул. Абсалямова 19
                    .work-hours Пн-Пт с 8 до 20:00
                    .tel-mail 
                        .tel 8 (976) 543 21 00
                        +img('/assets/media/static/point_black.svg')
                        .mail info_c@mail.ru
                    .socials 
                        .social
                            +img('/assets/media/static/tg_black.svg')
                        .social
                            +img('/assets/media/static/insta_black.svg')
                        .social 
                            +img('/assets/media/static/vk_black.svg')
                .contact-bottom 
                    .btn.show-map Показать на карте
                    a(href="#") Реквизиты компании
        .map  
            .map__view
            .contact-block 
                .logo 
                    +img('/assets/media/static/besedka-en-logo_color.png').logo-en
                .contact-body 
                    .address г. Казань, ул. Муштари 19
                    .work-hours Пн-Пт с 8 до 20:00
                    .tel-mail 
                        .tel 8 (976) 543 21 00
                        +img('/assets/media/static/point_black.svg')
                        .mail info_c@mail.ru
                    .socials 
                        .social
                            +img('/assets/media/static/tg_black.svg')
                        .social
                            +img('/assets/media/static/insta_black.svg')
                        .social 
                            +img('/assets/media/static/vk_black.svg')
                .btn Проложить маршрут

append scripts
    script(src=require('./main.ts'))