.banner-block + .section {
    padding-top: 0;
}

.banner {
    position: relative;
    width: 100%;
    border-radius: 40px;
    padding: 0 0 50px 50px;
    height: 753px;
    display: flex;
    align-items: end;
    overflow: hidden;

    &-wrapper {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #3A3D3EB2;
        border-radius: 40px;
    }

    &-picture {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    &-content {
        position: relative;
        color: var(--white);
    }

    &-title {
        font: var(--text-base-50);
        margin-bottom: 20px;
        max-width: 907px;
        width: 100%;
    }

    &-text {
        font: var(--text-base-400);
        max-width: 700px;
        width: 100%;
    }

    .btn {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .banner-block {
        padding-left: 0;
        padding-right: 0;

        .container {
            padding: 0;
        }
    }
    .banner {
        border-radius: 0;
        height: 630px;
        padding: 0 10px 50px;

        &-wrapper {
            border-radius: 0;
        }

        &-title {
            font: var(--header-100);
            margin-bottom: 10px;
            width: 100%;
        }

        &-text {
            font: 1.6rem/1.5;
            width: 100%;
        }

    }
}