mixin banner(breadcrumbs, title, text)
    section.section
        div.banner
            .banner-wrapper
            .banner-content 
                ul.breadcrumbs
                    each bc in breadcrumbs
                        li=bc
                p.banner-title=title
                p.banner-text=text
                if block
                    block
        .content 
            .content-title Внутренний заголовок страницы H2
            .content-text 
                p Около 10 лет назад, уйдя в декрет, времени стало много и я, насмотревшись необычных альбомов в сети интернет, тоже загорелась идеей сделать альбом для своей дочки.
                p Такого изобилия скрапматериалов тогда у меня не было. 
            .content-title_big Большой заголовок H3
            .content-quote 
                p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
            .content-quote_author © Алексей Кизляр, руководитель отдела маркетинга
            .content-text_small Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.
            .content-image 
                img(src='/assets/media/content/image-11.webp')
            .content-subtitle Подзаголовок H4
            ul.content-ul 
                li Жирмунский, однако, настаивал, что синхрония доступна. 
                li Анжамбеман семантически отражает хорей. 
                li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
            ol.content-ol 
                li Жирмунский, однако, настаивал, что синхрония доступна. 
                li Анжамбеман семантически отражает хорей. 
                li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.