include layout/utils

mixin banner(breadcrumbs, title, text)
    +section.banner-block
        .banner
            .banner-wrapper
            .banner-content 
                ul.breadcrumbs
                    each bc in breadcrumbs
                        li=bc
                h1.banner-title=title
                .banner-text: p=text
                    if block
                        block