include layout/utils

+section({ container: false }).map-block
  .map-block__inner
    .map-block__data
      .map-block__data-item(data-lng="49.137864" data-lat="55.787923")
      .map-block__data-item(data-lng="49.109145" data-lat="55.819778")
    .map-block__map