.masters {
    &-title {
        font: var(--section_title);
        text-align: center;
        margin-bottom: 30px;
    }

    &-btns {
        display: flex;
        justify-content: center;
        gap: 20px;

        button {
            border: none;
            background-color: var(--black_10);
            padding: 20px 40px;
            border-radius: 100px;

            &.active {
                background-color: var(--black_100);
                color: var(--white);
            }
        }
    }

    .view-all {
        margin: 50px auto 0;
    }

    @media screen and (max-width: 1000px) {
        .btn {
            padding: 14px 40px;

            &.badge {
                font-size: 1.2rem;
                padding: 5px 10px;
                border-radius: 22px;
                background-color: #3A3D3E33;
            }

            &.view-all {
                display: none;
            }
        }
    }
}