include layout/utils

+section.masters
    h2.masters-title Мастера
    .masters-btns
        button.btn.active Муштари
        button.btn Абсалямова
    include components/mastersGallery/template.pug
    button.btn.view-all Смотреть всё
