include layout/utils

.section.masters
    h2.masters-title Мастера
    .masters-btns
        button.btn.active Муштари
        button.btn Абсалямова
    .masters-container
        .masters-gallery(data-scrollbar)
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
            .master 
                +img('/assets/media/content/master_1.png?as=webp')
                .master-info 
                    .info-top
                        .btn.badge Муштари
                        +img('/assets/media/static/arrow.svg')
                    .info-bottom 
                        .name Евгений Беляев
                        p Специалист по длинным названиями
    button.btn.view-all Смотреть всё
