extends layout/page
include layout/utils

append main
    .section
        ul.breadcrumbs
            li Главная
            li Мастера
            li Марина Белова
        .master.master-data.open-block
            .master-img 
                +img('/assets/media/content/master_2.png?as=webp')
            .master-content 
                h1.master-name Марина Белова
                .master-tabs 
                    .tab Муштари
                        +img('/assets/media/content/location.png?as=webp')
                    .tab Опыт 10+ лет
                        +img('/assets/media/content/practice.png?as=webp')
                    .tab Скрапбукинг
                        +img('/assets/media/content/hello.png?as=webp')
                .master-description 
                    p Один из моих любимых видов рукоделия – скрапбукинг. Именно со скрапбукинга началось мое знакомство с handmade.
                    p Около 10 лет назад, уйдя в декрет, времени стало много и я, насмотревшись необычных альбомов в сети интернет, тоже загорелась идеей сделать альбом для своей дочки.
                    p Такого изобилия скрапматериалов тогда у меня не было. В ход шло все, что клеится: пуговицы, ленты, немного скрапбумаги, металлические подвески.
                    p В общем, альбом получился весомый и еле закрывался, но я его все равно люблю, ведь он делался с душой и на одном дыхании. А когда, я начала работать в Беседке и увидела это изобилие скрапматериалов, дыроколов, штампиков, скрапцветочков – радости моей не было предела.
                    p Для второй дочки я в Беседке сделала альбом уже по всем правилам скрапбукинга и под чутким руководством мастера. Он уютный, с мягкой обложкой, в нежной цветовой гамме, а вклеивать фотографии в такой альбом и просматривать их – особенное удовольствие!
                    .hidden-text 
                        p В общем, альбом получился весомый и еле закрывался, но я его все равно люблю, ведь он делался с душой и на одном дыхании. А когда, я начала работать в Беседке и увидела это изобилие скрапматериалов, дыроколов, штампиков, скрапцветочков – радости моей не было предела.
                button.read-full Читать полностью
    include global/components/pageBlocks/reasonsBlock/template
