@use "styles/utils";

.seo-block-section:has(+ .form-section) {
    padding-bottom: 50px;
}

.seo-block-section {
    padding-top: 0;
}

.seo-block {
    background-color: var(--white);
    border-radius: 40px;
    padding: 50px 123px 50px 50px;
    overflow: hidden;
    transition: height .2s;

    h2 {
        font: var(--section_title);
        margin-bottom: 20px;
        color: #413127;
    }

    .seo-block-img-wrapper {
        position: relative;
        float: right;
        width: 586px;
        height: 400px;
        margin: 10px 0 50px 218px;

        img {
            border-radius: 40px;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            @include utils.square(586px);
            object-fit: cover;
            object-position: center;
        }
    }


    .seo-block-text {
        font-size: 1.8rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    p {
        opacity: .8;
    }

    p+p {
        margin-top: 20px;
    }

    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0;
        border-radius: 20px;

        p {
            font-size: 1.6rem;
        }

        .seo-block-img-wrapper {
            float: none;
            margin: 0;
            width: 100%;
            height: initial;
            order: 1;
            border-radius: 40px 40px 0 0;

            img {
                position: initial;
                width: 100%;
                height: 340px;
                border-radius: 40px 40px 0 0;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .seo-block-section {
        padding-bottom: 0;
    }
}