extends layout/page

append head
    link(href=require('./styles.scss') rel="stylesheet")

append main       
    include global/components/pageBlocks/directorBlock/template

append scripts
    script(src=require('./main.ts'))