extends layout/page

append main
    include sections/main-hero/main-hero
    include sections/events/events
    include components/pageBlocks/services/services
    +services({ title: 'Услуги на Абсалямова' })
    +services({ title: 'Услуги на Муштари' })
    include sections/info/info
    include components/pageBlocks/reasonsBlock/template
    include sections/reviews/reviews
    include components/pageBlocks/clientsBlock/template
    include components/pageBlocks/galleryBlock/template
    include components/pageBlocks/seoBlock/template

append before-footer
    include components/pageBlocks/map-block/map-block