extends layout/page
include layout/utils

append head
    link(href=require('./styles.scss') rel="stylesheet")

append main     
    include global/components/pageBlocks/bannerBlock/template
    +banner(['Главная', 'Услуги на Абсалямова', 'Страница услуги'], 'Страница услуги', 'Проведение творческих встреч с людьми из разных сфер деятельности: мастер-классы, семинары, презентации продуктов и услуг с представителями самых разных современных профессий.')
        .btn.submit.shadow Оставить заявку
    include global/components/pageBlocks/contentBlock/template
    include global/components/pageBlocks/seoBlock/template
    include global/components/pageBlocks/reasonsBlock/template