include layout/utils

+section.content
    h2 Внутренний заголовок страницы H2
    p Около 10 лет назад, уйдя в декрет, времени стало много и я, насмотревшись необычных альбомов в сети интернет, тоже загорелась идеей сделать альбом для своей дочки.
    p Такого изобилия скрапматериалов тогда у меня не было. 
    h3 Большой заголовок H3
    q Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    p.author © Алексей Кизляр, руководитель отдела маркетинга
    p.small Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм. 
    +img(require('media/content/image-11.webp'))
    h4 Подзаголовок H4
    ul 
        li Жирмунский, однако, настаивал, что синхрония доступна. 
        li Анжамбеман семантически отражает хорей. 
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    ol 
        li Жирмунский, однако, настаивал, что синхрония доступна. 
        li Анжамбеман семантически отражает хорей. 
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.