include layout/utils

+section.events-page
  h1.events-page__title События
  .events-page__text: p
    | Около 10 лет назад, уйдя в декрет, времени стало много и я, насмотревшись
    | необычных альбомов в сети интернет, тоже загорелась идеей сделать альбом для своей дочки.
    | Такого изобилия скрапматериалов тогда у меня не было.