@use 'swiper/scss';
@use 'swiper/scss/scrollbar';
@use 'swiper/scss/grid';

.clients {
    &-title {
        font: var(--section_title);
        margin-bottom: 38px;
    }

    .swiper-scrollbar {
        height: 20px;
        border-radius: 100px;
        position: static;
        margin-top: 30px;
        background-color: transparent;
        border: 1px solid #3A3D3E26;
        width: 100%;

        &-drag {
            background-color: var(--black_20);
        }
    }

    .client {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .client img {
        max-width: 249px;
    }
}