include layout/utils

-
    var content = [
        '/assets/media/content/client_1.png?as=webp',
        '/assets/media/content/client_2.png?as=webp',
        '/assets/media/content/client_3.png?as=webp',
        '/assets/media/content/client_2.png?as=webp',
        '/assets/media/content/client_3.png?as=webp',
        '/assets/media/content/client_4.png?as=webp',
        '/assets/media/content/client_1.png?as=webp',
        '/assets/media/content/client_4.png?as=webp',
    ]

.section.clients.section-white
    .clients-title Наши клиенты
    .clients-container.clients-swiper
        .swiper-wrapper
            each item in content
                .client.swiper-slide
                    +img(item)
        .swiper-scrollbar
