include layout/utils

-
    var content = [
        require('media/content/client_1.png?as=webp'),
        require('media/content/client_2.png?as=webp'),
        require('media/content/client_3.png?as=webp'),
        require('media/content/client_2.png?as=webp'),
        require('media/content/client_3.png?as=webp'),
        require('media/content/client_4.png?as=webp'),
        require('media/content/client_1.png?as=webp'),
        require('media/content/client_4.png?as=webp'),
    ]

+section.clients.section-white
    h2.clients-title Наши клиенты
    .clients-container.clients-swiper
        .swiper-wrapper
            each item in content
                .client.swiper-slide
                    +img(item)
        .swiper-scrollbar
