include layout/utils

.section.clients.section-white
    .clients-title Наши клиенты
    .clients-container(data-scrollbar)
        .client 
            +img('/assets/media/content/client_1.png?as=webp')
        .client 
            +img('/assets/media/content/client_2.png?as=webp')
        .client 
            +img('/assets/media/content/client_3.png?as=webp')
        .client 
            +img('/assets/media/content/client_4.png?as=webp') 
        .client 
            +img('/assets/media/content/client_2.png?as=webp')
        .client 
            +img('/assets/media/content/client_3.png?as=webp')
        .client 
            +img('/assets/media/content/client_4.png?as=webp') 
    .clients-container_mob(data-scrollbar)
        .first-row
            .client 
                +img('/assets/media/content/client_3.png?as=webp')
            .client 
                +img('/assets/media/content/client_1.png?as=webp')
            .client 
                +img('/assets/media/content/client_2.png?as=webp')
            .client 
                +img('/assets/media/content/client_4.png?as=webp') 
        .second-row
            .client 
                +img('/assets/media/content/client_1.png?as=webp')
            .client 
                +img('/assets/media/content/client_2.png?as=webp')
            .client 
                +img('/assets/media/content/client_3.png?as=webp')
            .client 
                +img('/assets/media/content/client_4.png?as=webp')



