extends layout/page

append main
    -
        var content = [
            '/assets/media/content/directorBLock.png?as=webp',
            '/assets/media/content/gallery_item.png?as=webp',
            '/assets/media/content/image-11.webp',
            '/assets/media/content/image-16.webp',
            '/assets/media/content/master_1.png?as=webp',
            '/assets/media/content/master_2.png?as=webp',
            '/assets/media/content/master_3.png?as=webp',
            '/assets/media/content/master_4.png?as=webp',
            '/assets/media/content/master_5.png?as=webp',
        ]

    .section
        ul.breadcrumbs
            li Главная
            li Мастер-классы на Абсалямова
            li Выездные мастер-классы
            li Очень длинное название мастер-класса, которое не умещается полностью в две строки
        .mc
            .mc-gallery
                .swiper.mc-swiper-thumbs
                    .swiper-wrapper
                        each item in content    
                            .swiper-slide
                                +img(item)
                .swiper.mc-swiper(thumbsSlider="")
                    .swiper-wrapper
                        each item in content    
                            .swiper-slide
                                +img(item)
            .mc-description
                .title Очень длинное название мастер-класса, которое не умещается полностью в две строки
                .text 
                    p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
                    p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа 
                    p В общем, альбом получился весомый и еле закрывался, но я его все равно люблю, ведь он делался с душой и на одном дыхании. А когда, я начала работать в Беседке и увидела это изобилие скрапматериалов, дыроколов, штампиков, скрапцветочков – радости моей не было предела.
                    p Для второй дочки я в Беседке сделала альбом уже по всем правилам скрапбукинга и под чутким руководством мастера. Он уютный, с мягкой обложкой, в нежной цветовой гамме, а вклеивать фотографии в такой альбом и просматривать их – особенное удовольствие!
                .mc-submit
                    .price
                        p Стоимость 
                        p 1 650 ₽
                    button.btn.submit.shadow Оставить заявку
    include global/components/pageBlocks/seoBlock/template
    include global/components/pageBlocks/reasonsBlock/template
