@use 'swiper/scss';
@use 'swiper/scss/scrollbar';

.gallery {
    background-color: #0D1D26;
    position: relative;
    padding: 0;

    .swiper-scrollbar {
        height: 20px;
        border-radius: 100px;
        position: static;
        margin-top: 50px;
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--white15);

        &-drag {
            background-color: var(--white20);
        }
    }

    &-title {
        font: var(--section_title);
        color: var(--white);
        text-align: center;
        position: absolute;
        transform: translate(-50%, 0%);
        top: 100px;
        left: 50%;
    }

    &-container {
        padding: 269px 30px 150px; 
    }

    &-item {
        position: relative;
        transition: transform .5s;

        img {
            border-radius: 40px;
            width: 100%;
            object-fit: cover;
        }

        &:hover {
            transform: translateY(-20px);
            transition: transform .5s;
        }

        .blured {
            position: absolute;
            top: -59px;
            left: 20px;
            z-index: -1;
            width: 100%;
            filter: blur(300px);
        }

        .item-info {
            position: absolute;
            display: flex;
            justify-content: end;
            top: 0;
            bottom: 0;
            flex-direction: column;
            padding: 30px;
            border-radius: 20px;
            z-index: 20;
            width: 100%;
        }
    }

    @media screen and (max-width: 1000px) {
        &-container {
            padding: 148px 10px 50px;
        }

        &-title {
            top: 50px;
        }

        &-item {

            img {
                width: 100%;
                border-radius: 26px;
            }

            .blured {
                width: 100%;
                top: -22px;
                left: 22px;
                filter: blur(380px);
            }
        }
    }
}