include layout/utils
-
    var content = [
        {img: '/assets/media/content/gallery_item.png?as=webp'},
        {img: '/assets/media/content/gallery_item.png?as=webp'},
        {img: '/assets/media/content/gallery_item.png?as=webp'},
        {img: '/assets/media/content/gallery_item.png?as=webp'},
        {img: '/assets/media/content/gallery_item.png?as=webp'},
        {img: '/assets/media/content/gallery_item.png?as=webp'},
        {img: '/assets/media/content/gallery_item.png?as=webp'},
        {img: '/assets/media/content/gallery_item.png?as=webp'},
    ]

.section.gallery
    .gallery-title Галерея
    .gallery-container.gallery-swiper
        .swiper-wrapper
            each item in content 
                .gallery-item.swiper-slide
                    +img(item.img)
                    +img(item.img).blured
                    .item-info 
                        .btn.badge #Муштари
        .swiper-scrollbar
