include layout/utils

.section.gallery
    .gallery-title Галерея
    .gallery-container(data-scrollbar)
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
        .gallery-item 
            +img('/assets/media/content/gallery_item.png?as=webp')
            +img('/assets/media/content/gallery_item.png?as=webp').blured
            .item-info 
                .btn.badge #Муштари
