extends layout/page
include layout/utils

append main
    ul.breadcrumbs.container
        li Главная
        li Мастера
    +section.master-list-page
        h1.masters-title Мастера
        .masters-gallery_block   
            .masters-adress_title Муштари
            include components/mastersGallery/template 
        .masters-gallery_block 
            .masters-adress_title Абсалямова
            include components/mastersGallery/template.pug
    include global/components/pageBlocks/reasonsBlock/template
