include layout/utils

+section.director-block
    .director 
        +img('/assets/media/content/directorBlock.png?as=webp').main-img
        .director-content 
            +img(require('media/static/quotes.svg')).quotes
            .director-text 
                p На занятиях вы научитесь самым необычным направлениям искусства, пришедших с различных уголков мира. Мастер-классы позволят вам по-новому взглянуть на окружающие вещи.
                p Из привычных предметов вы научитесь делать настоящие произведения искусства: декор для комнаты, стильные кухонные принадлежности, кукол, композиции и другие потрясающие изделия. Программы мастер-классов разрабатываются индивидуально для каждого занятия и адаптируется под участников. Заниматься будет интересно детям и взрослым, начинающим и опытным рукодельницам.
            .divider 
            .director-info 
                .director-img 
                .director-data
                    .name Ольга Крылова
                    p Генеральный директор ООО «Беседка»