@use './variables.scss' as *;

html {
  overflow-x: clip;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1230px;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1 1 0;
}

.section {
  padding: 100px 30px;

  &:first-child {
    padding-top: 0;
  }

  &-white {
    background-color: var(--white);
  }
}

.hidden {
  display: none;
}

body {
  overflow-x: clip;
  font: var(--text-base-400);
  background-color: var(--bg-color);
}

html.disable-scroll {
  overflow: clip;

  body {
    overflow: clip;
  }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  box-sizing: border-box !important;
}

.banner .breadcrumbs {
  color: #ffffff80;
  margin-bottom: 10px;

  li:last-child {
    color: var(--white);
  }

  li:not(:first-child):before {
    background-image: url('media/static/point.svg');
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black_100);
  font: var(--text-base-500);
  margin-bottom: 20px;
  list-style: none none;

  li {
    opacity: .5;

    &:last-child {
      opacity: 1;
    }
  }

  li:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
      content: '';
      background-image: url('media/static/point_black.svg');
      display: block;
      width: 4px;
      height: 4px;
    }
  }
}

.open-block.full-text {
  height: fit-content;
  padding-bottom: 50px;
}

.hidden-text {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;

  &.opened {
      max-height: fit-content;
      visibility: visible;
      opacity: 1;
      transition: opacity .5s, visibility .5s;
      margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 50px 10px;
  }
}