@use './fonts' as *;

// Colors
:root {
  --primary: hsl(23, 25%, 20%);
  --brown: hsl(12, 66%, 23%);
  --beige: hsl(36, 56%, 86%);
  --gold: hsl(27, 71%, 54%);
  --black_100: hsl(195, 3%, 24%);
  --white: hsl(0, 0%, 100%);
  --white20: hsla(0, 0%, 100%, 0.2);
  --white25: hsla(0, 0%, 100%, 0.25);
  --white15: hsla(0, 0%, 100%, 0.15);
  --white59: hsla(0, 0%, 100%, 0.59);
  --grey: hsl(0, 0%, 98%);
  --black_80: hsla(195, 3%, 24%, 0.8);
  --black_60: hsla(195, 3%, 24%, 0.6);
  --black_40: hsla(195, 3%, 24%, 0.4);
  --black_20: hsla(195, 3%, 24%, 0.2);
  --black_10: hsla(195, 3%, 24%, 0.1);
  --bg-color: hsl(0, 0%, 98%);
}

// Fonts
:root {
  --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --playfair: 'Playfair_Display', var(--sans);
  --nunito: 'Nunito', var(--sans);

  --header-100_fz: 6.6rem;
  --header-100: 400 var(--header-100_fz) var(--playfair);

  --section_title: 400 5.2rem var(--playfair);

  --text-base-50: 400 6.6rem var(--playfair);
  --text-base-100: 500 5.2rem var(--nunito);
  --text-base-200: 600 4.2rem/1.48 var(--nunito);
  --text-base-300: 700 3.2rem/1.48 var(--nunito);
  --text-base-350: 400 2.4rem/1.5 var(--nunito);
  --text-base-400: 400 2rem/1.5 var(--nunito);
  --text-base-500: 400 1.4rem var(--nunito);


  --text-btn: 400 1.6rem var(--nunito);

  @media only screen and (max-width: 1000px) {
    --title_fz: 400 3.6rem var(--playfair);
    --header-100: 400 3.6rem var(--playfair);
    --section_title: 400 3.6rem var(--playfair);
    --text-base-350: 400 1.6rem/1.5 var(--nunito);
    --text-base-400: 400 1.6rem/1.5 var(--nunito);
    --text-base-100: 500 2.4rem var(--nunito);
    --text-base-200: 600 1.8rem/1.48 var(--nunito);
  }
}






